.topBar {
  background-color: var(--samaj-maroon);
  color: #fff;
  height: 35px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  z-index: 1001; /* Above Navbar */
}

.scrollingText {
  white-space: nowrap;
  position: absolute;
  will-change: transform;
  animation: scrollRightToLeft 25s linear infinite;
  display: flex;
  gap: 50px;
}

@keyframes scrollRightToLeft {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

.topBar:hover .scrollingText {
  animation-play-state: paused;
}
